<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Fragetrainer</title>
</head>

{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Willkommen zum BZF Prüfungstrainer {% endblock %}</h1>
    
    Wähle die Frage, mit der du beginnen willst:
    <form action="/question" method="POST">    
    {% for question in questions %}
    <p><input type="submit" name="answer" value={{ question + 1 }}></p>
    {% endfor %}
    </form>

{% endblock %}

